.block-component {
    min-height: 300px;
    text-align: center;
    overflow-y: auto;
}

.block-component__table {
    width: 300px;
    border-collapse: collapse;
    margin: 0px auto;
}

.block-component__table th, .block-component__table td {
    padding: 3px 10px;
    border: 1px solid #2d2d2d;
}